DE0_NANO.asm.rpt
DE0_NANO.fit.rpt
DE0_NANO.fit.smsg
DE0_NANO.fit.summary
DE0_NANO.flow.rpt
DE0_NANO.jdi
DE0_NANO.map.rpt
DE0_NANO.map.summary
DE0_NANO.pin
DE0_NANO.sof
DE0_NANO_assignment_defaults.qdf
db/
incremental_db/

